.main-section {
  background-color: rgba(var(--bg-d), 1);
  padding-bottom:120px;
  position: relative;
  overflow: hidden;

  &::before,&::after {
    position: absolute;
    content: "";
    width: 100%;
    z-index: 2;
    left: 0;
    opacity: 0.7;
    background-image: url(/img/index/back1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    filter: brightness(0.6);
  }

  &::before {
    height: 90px;
    top: 0;
  }

  &::after {
    bottom: 0;
    height: 120px;
    transform: scaleX(-1);
  }

  &__box {
    padding: 38px 0 218px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-gap: clamp(45px, 6.869vw, 77px);

    .main-title {
      &::before {
        position: absolute;
        content: "";
        bottom: calc((clamp(45px, 6.869vw, 77px) / 2) * -1);
        left: 0;
        height: 1px;
        width: 100%;
        background-color: rgba(var(--bg-e), 1);

        @include for-big-desktop{
          width: 584px;
        }
      }
    }
  }

  &__content {
    width: 100%;
    min-height: Min(7.761vw, 87px);
    position: relative;

    &--mode {
      min-height: Min(14.273vw, 160px);
    }
    .main-phrase {
      position: absolute;

      &--erotic {
        top: 0;
        left: -7%;

        @include desktop{
          left: 0;
        }
      }

      &--empathic {
        top: 35%;
        left: 13%;

        @include tablet{
          left: 19%;
        }
      }

      &--evo {
        top: 10%;
        left: 38%;
      }

      &--primal {
        left: -9%;
        top: -30%;

        @include desktop{
          top: 35%;
          left: 0;
        }
      }

      &--psy {
        left: 10%;
        bottom: 0;

        @include tablet{
          left: 17%;
        }
      }

      &--precious {
        top: 0;
        left: 31%;

        @include small-tablet{
          left: 43%;
        }
      }
    }

    // @include tablet{
    //   max-width: 500px;
    // }
    // @include small-tablet{
    //   max-width: 400px;
    // }
    // @include mobile{
    //   max-width: 310px;
    // }
  }

  &__wrapper{
    position: relative;
    padding-top: 90px;

    &:before{
      content: "";
      position: absolute;
      background-image: url(/img/index/main1.png);
      background-repeat: no-repeat;
      background-position: top center;
      background-size: cover;
      width: 100%;
      height: 100%;
      bottom: 0;
      left: 0;

    }
  }
  
}
