<footer>
  <div class="container">

    <!-- <div class="footer-inner">
      <div class="footer">
        <div class="footer__coll">
          <a href="#" class="footer__logo">
            <svg width='141' height='34'>
              <use href='img/sprite/sprite.svg#logo'></use>
            </svg>
          </a>

          <ul class="main-social footer__social">
            <li class="main-social__item">
              <a href="#" class="main-social__link">
                <svg width='32' height='32'>
                  <use href='img/sprite/sprite.svg#social'></use>
                </svg>
              </a>
            </li>
            <li class="main-social__item">
              <a href="#" class="main-social__link">
                <svg width='32' height='32'>
                  <use href='img/sprite/sprite.svg#social2'></use>
                </svg>
              </a>
            </li>
            <li class="main-social__item">
              <a href="#" class="main-social__link">
                <svg width='32' height='32'>
                  <use href='img/sprite/sprite.svg#social3'></use>
                </svg>
              </a>
            </li>
            <li class="main-social__item">
              <a href="#" class="main-social__link">
                <svg width='32' height='32'>
                  <use href='img/sprite/sprite.svg#social4'></use>
                </svg>
              </a>
            </li>
            <li class="main-social__item">
              <a href="#" class="main-social__link">
                <svg width='32' height='32'>
                  <use href='img/sprite/sprite.svg#social5'></use>
                </svg>
              </a>
            </li>
            <li class="main-social__item">
              <a href="#" class="main-social__link">
                <svg width='32' height='32'>
                  <use href='img/sprite/sprite.svg#social6'></use>
                </svg>
              </a>
            </li>
          </ul>

          <span class="footer__label">
            <svg width="94" height="25">
              <use href='img/sprite/sprite.svg#main-logo'></use>
            </svg>
          </span>

        </div>

        <ul class="footer__nav">
          <li class="footer__nav-item">
            <a href="#" class="footer__nav-link">
              Home
            </a>
          </li>
          <li class="footer__nav-item">
            <a href="#" class="footer__nav-link">
              Farm
            </a>
          </li>
          <li class="footer__nav-item">
            <a href="#" class="footer__nav-link">
              About
            </a>
          </li>
          <li class="footer__nav-item">
            <a href="#" class="footer__nav-link">
              Exchange
            </a>
          </li>
          <li class="footer__nav-item">
            <a href="#" class="footer__nav-link">
              Launchpools
            </a>
          </li>
          <li class="footer__nav-item">
            <a href="#" class="footer__nav-link">
              Team
            </a>
          </li>
          <li class="footer__nav-item">
            <a href="#" class="footer__nav-link">
              Liquidity
            </a>
          </li>
          <li class="footer__nav-item">
            <a href="#" class="footer__nav-link">
              Referral programm
            </a>
          </li>
          <li class="footer__nav-item">
            <a href="#" class="footer__nav-link">
              Audit
            </a>
          </li>
          <li class="footer__nav-item">
            <a href="#" class="footer__nav-link">
              History
            </a>
          </li>
          <li class="footer__nav-item">
            <a href="#" class="footer__nav-link">
              Docs
            </a>
          </li>
        </ul>

        <form action="#" class="main-form footer__form">
            <span class="main-form__title">
              Submit for updates.
            </span>

            <p class="main-form__descr">
              Subscribe to get update and notify our exchange and products
            </p>

            <label class="main-form__label">
              <input type="email" class="main-form__input" placeholder="Enter your email address">
              <button class="main-form__button">
                Send
              </button>
            </label>

        </form>



      </div>
      <div class="footer-bottom">
        <span class="footer-bottom__info">
          FixSwap ©. All rights reserved.
        </span>

        <ul class="footer-bottom__list">
          <li class="footer-bottom__item">
            <a href="#" class="footer-bottom__link">
              Term of Service
            </a>
          </li>
          <li class="footer-bottom__item">
            <a href="#" class="footer-bottom__link">
              Privacy Policy
            </a>
          </li>
        </ul>

      </div>
    </div> -->


  </div>
</footer>
