
<div class="overlay" data-overlay>
  <div class="modal" data-popup="Login">
      <div class="modal__box" role="dialog" aria-modal="true">
        <button class="close modal__close" aria-label="Закрыть модальное окно">
          <svg width='24' height='24'>
            <use href='img/sprite/sprite.svg#close'></use>
          </svg>
        </button>

        <div class="modal__top">
          <h2 class="modal__title">
            Login
          </h2>
        </div>

        <form action="#" class="modal__form">

          <div class="modal__form-wrapper">
            <legend class="modal__legend">
              <svg width='18' height='18'>
                <use href='img/sprite/sprite.svg#at-sign'></use>
              </svg>
              Email:
            </legend>
            <label for="#" class="modal__label">
              <input type="email" class="modal__input" placeholder="email" value="bortnovskiv@ukr.net">
            </label>
          </div>

          <div class="modal__form-wrapper">
            <legend class="modal__legend">
              <svg width='18' height='18'>
                <use href='img/sprite/sprite.svg#lock'></use>
              </svg>
              Password:
            </legend>
            <label for="#" class="modal__label">
              <input type="password" class="modal__input" placeholder="Enter you pass">
            </label>
          </div>
          <button class="modal__link" data-btn-inner="Forget" aria-label="Открыть модальное окно">
            Forget password?
          </button>

          <div class="modal__captcha">
            <picture>
              <img width='366' height='76' src='img/captcha.png' alt='image'>
            </picture>
          </div>

          <button class="modal__button">
            Login
          </button>

        </form>

      </div>
  </div>
  <div class="modal" data-popup="Create_account">
    <div class="modal__box" role="dialog" aria-modal="true">
      <button class="close modal__close" aria-label="Закрыть модальное окно">
        <svg width='24' height='24'>
          <use href='img/sprite/sprite.svg#close'></use>
        </svg>
      </button>


      <div class="modal__top">
        <h2 class="modal__title">
          Create account
        </h2>
      </div>

      <form action="#" class="modal__form">
        <div class="modal__form-wrapper">
          <legend class="modal__legend">
            <img src="img/sprite/login.svg" alt=" icon">
            Login:
          </legend>
          <label for="#" class="modal__label">
            <input type="email" class="modal__input" placeholder="email" value="bortnovskiv@ukr.net">
          </label>
        </div>
        <div class="modal__form-wrapper">
          <legend class="modal__legend">
            <svg width='18' height='18'>
              <use href='img/sprite/sprite.svg#at-sign'></use>
            </svg>
            Email:
          </legend>
          <label for="#" class="modal__label">
            <input type="email" class="modal__input" placeholder="email" value="bortnovskiv@ukr.net">
          </label>
        </div>
        <div class="modal__form-wrapper">
          <legend class="modal__legend">
            <svg width='18' height='18'>
              <use href='img/sprite/sprite.svg#lock'></use>
            </svg>
            Password:
          </legend>
          <label for="#" class="modal__label">
            <input type="password" class="modal__input" placeholder="Enter you pass">
          </label>
        </div>
        <div class="modal__form-wrapper">
          <legend class="modal__legend">
            <svg width='18' height='18'>
              <use href='img/sprite/sprite.svg#lock'></use>
            </svg>
            Confirm password:
          </legend>
          <label for="#" class="modal__label">
            <input type="password" class="modal__input" placeholder="Confirm your pass">
          </label>
        </div>
        <button class="modal__link" data-btn-inner="Login">
          I have account
        </button>

        <div class="modal__captcha">
          <picture>
            <img width='366' height='76' src='img/captcha.png' alt='image'>
          </picture>
        </div>
        <button class="modal__button">
          Create account
        </button>
      </form>

    </div>
  </div>
  <div class="modal" data-popup="Forget">
    <div class="modal__box" role="dialog" aria-modal="true">
      <button class="close modal__close" aria-label="Закрыть модальное окно">
        <svg width='24' height='24'>
          <use href='img/sprite/sprite.svg#close'></use>
        </svg>
      </button>
      <div class="modal__top">
        <h2 class="modal__title">
          Forget password?
        </h2>
        <p class="modal__subtitle">
          Enter your email and we will send you a recovery link
        </p>
      </div>

      <form action="#" class="modal__form">
        <div class="modal__form-wrapper">
          <legend class="modal__legend">
            <svg width='18' height='18'>
              <use href='img/sprite/sprite.svg#at-sign'></use>
            </svg>
            Email:
          </legend>
          <label for="#" class="modal__label">
            <input type="email" class="modal__input" placeholder="email" value="bortnovskiv@ukr.net">
          </label>
        </div>
        <div class="modal__captcha">
          <picture>
            <img width='366' height='76' src='img/captcha.png' alt='image'>
          </picture>
        </div>
        <button class="modal__button">
          Confirm
        </button>
      </form>

    </div>
  </div>
  <div class="modal" data-popup="Withdraw">
    <div class="modal__box" role="dialog" aria-modal="true">
      <button class="close modal__close" aria-label="Закрыть модальное окно">
        <svg width='24' height='24'>
          <use href='img/sprite/sprite.svg#close'></use>
        </svg>
      </button>

      <div class="modal__top">
        <h2 class="modal__title">
          Login
        </h2>
      </div>

      <form action="#" class="modal__form">

        <div class="modal__form-wrapper">
          <legend class="modal__legend">
            <img width="24" height="24" src="img/sprite/dash2.svg" alt="icon">
            Amount:
          </legend>
          <label for="#" class="modal__label modal__label--icon">
            <input type="number" class="modal__input" placeholder="email" value="0.0000043">

            <span class="modal__icon">
              <svg width="30" height="30">
                <use href="img/sprite/sprite.svg#bitcoin"></use>
              </svg>
            </span>
          </label>
        </div>

        <div class="modal__form-wrapper">
          <legend class="modal__legend">
            <img width="24" height="24" src="img/sprite/dash3.svg" alt="icon">
            You wallet:
          </legend>
          <label for="#" class="modal__label">
            <input type="password" class="modal__input" placeholder="Enter you wallet:">
          </label>
        </div>

        <div class="modal__inner">
          <div class="modal__value">

            <svg width="30" height="30">
              <use href="img/sprite/sprite.svg#bitcoin"></use>
            </svg>

            0.00027383 BTC
          </div>

          <a href="#" class="modal__link">
            Aviable to withdraw
          </a>

          <button class="modal__button" data-btn-inner="Successful">
            Withdraw
          </button>
        </div>


      </form>

    </div>
  </div>
  <div class="modal" data-popup="Confirm">
    <div class="modal__box" role="dialog" aria-modal="true">
      <button class="close modal__close" aria-label="Закрыть модальное окно">
        <svg width='24' height='24'>
          <use href='img/sprite/sprite.svg#close'></use>
        </svg>
      </button>
      <div class="modal__top">
        <h2 class="modal__title">
          Do you confirm the exchange of cryptocurrency to USDT (TRC-20)?
        </h2>
        <p class="modal__subtitle">
          After confirming this operation, you will not be able to exchange USDT (TRC-20) for cryptocurrency back.
        </p>
      </div>

      <form action="#" class="modal__form">
        <button class="modal__button">
          Yes, I confirm the exchange
        </button>
        <button class="modal__button modal__button--transparent">
          Cancel
        </button>
      </form>

    </div>
  </div>
  <div class="modal" data-popup="Successful">
    <div class="modal__box" role="dialog" aria-modal="true">
      <button class="close modal__close" aria-label="Закрыть модальное окно">
        <svg width='24' height='24'>
          <use href='img/sprite/sprite.svg#close'></use>
        </svg>
      </button>
      <div class="modal__top">
        <div class="modal__image">
          <picture>
            <source type='image/webp' srcset='img/modal-image.webp'>
            <img width='250' height='302' src='img/modal-image.png' alt='image'>
          </picture>
        </div>
        <h2 class="modal__title modal__title--min">
          Application successful!
        </h2>
        <p class="modal__subtitle">
          The withdrawal is done manually, it takes from 5 <br> to 15 minutes during business hours!
        </p>
      </div>

    </div>
  </div>
</div>









