.gallery-list {
  display: flex;
  flex-direction: column;
  grid-gap: clamp(50px, 15.584vw, 180px);

  &__item {
    display: grid;
    grid-template-columns: auto 1fr;
    position: relative;
    grid-gap: 31px;
    p {
      padding-top: 53px;
      margin-left: -50px;

      @include tablet {
        margin-left: initial;
        padding-top: initial;
      }

      @include mobile {
        margin-top: -80px;
        padding: 0 30px;
        max-width: 430px;
      }
    }

    &:nth-child(odd) {
      direction: rtl;
      p {
        margin: 0;
        @include mobile {
          margin-top: -70px;
        }
      }
    }

    &--mode {
      padding-top: 50px;
      align-items: center;

      p {
        min-width: 618px;
        padding: 0;
        margin-left: -120px;

        @include tablet {
          margin: 0;
          min-width: initial;
          padding: 0 10px;
        }
      }

      .gallery-list__picture {
        margin-left: -65px;

        @include tablet {
          margin: 0;
        }
      }

      @include tablet {
        padding: 0;
      }
    }

    
    @include tablet {
      grid-template-columns: 100%;
      justify-items: center;
    }
  }

  &__picture {
    width: 100%;
    height: 100%;

    &--mode {
      @include mobile {
        margin-right: -40px;
      }
    }

    @include tablet {
      display: flex;
      justify-content: center;
    }
  }
}
