.slide-list{
    display: flex;
    flex-direction: column;
    grid-gap: 90px;
    width: 100%;

    @include small-tablet{
        grid-gap: 130px;
        padding: 0 calc(var(--container-offset) * 2);
    }
    
    &__item{
        width: 100%;
        position: relative;
        
        @include tablet{
            display: flex;
            flex-direction: column;
            grid-gap: 15px;
        }
        p{  
            font-family: var(--font-family3);
            font-size: 16px;
            color: rgba(var(--cl-a),1.0);

            
        }
        &--first{
            p{
                position: absolute;
                top: 18%;
                left: 7%;
                @include tablet{
                    position: initial;
                    padding: 0 15px;
                }
                @include small-tablet{
                    padding: 0;
                }
            }
            .mode{
                top: 82%;
                left: 58%;
                text-align: center;
                @include tablet{
                    text-align: center;
                    display: flex;
                    justify-content: end;            
                }
            }

            
        }
        &--second{
            display: grid;
            grid-template-columns: 1fr 290px;
            grid-gap: 20px;

            p{
                display: flex;
                align-items: center;
                padding:0 20px;
            }

            @include small-tablet{
                grid-template-columns: 100%;
                p{
                    max-width: 100%;
                    padding: 0;
                }      
            }
        }
        &--third{
            display: grid;
            grid-template-columns: 250px 1fr;
            grid-gap: 30px;
            p{
                display: flex;
                align-items: center;
                padding-left:20px;
            }
            @include small-tablet{
                grid-template-columns: 100%;
                p{
                    max-width: 100%;
                    padding: 0;
                    order: 2;
                }
            }
        }
        &--fourth{
            display: grid;
            grid-template-columns: 1.5fr 1fr;
            grid-gap: 30px;
            p{
                display: flex;
                align-items: center;
                padding-right:20px;
            }
            @include small-tablet{
                grid-template-columns: 100%;
                p{
                    max-width: 100%;
                    padding: 0;
                }
            }
        }
        &--fifth{
            display: flex;
            flex-direction: column;
            grid-gap: 20px;
            position: relative;

            p{
                position: absolute;
                top: 6%;
                left: 50%;
                transform: translateX(-34%);

                @include tablet{
                    position: relative;
                    display: flex;
                    justify-content: flex-start;
                    transform: initial;
                    left: 20px;
                }
                @include small-tablet{
                    left: 0;
                }
            }
        }
        &--sixth{
            position: relative;
            display: flex;
            flex-direction: column;
            grid-gap: 10px;

            p{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 27px;
                max-width: 205px;

                @include tablet{
                    position: relative;
                    max-width: 100%;
                    top: 0;
                    transform: initial;
                    left: 20px;
                }
                @include small-tablet{
                    left: 0;
                }
            }
        }
        &--seventh{
            position: relative;
            display: flex;
            flex-direction: column;
            grid-gap: 20px;

            p{
                position: absolute;
                right:  21%;
                top: 3%;

                @include laptop{
                    right: 15%;
                }
                @include tablet{
                    position: initial;
                    text-align: center;
                }
              
            }
            .mode{
                top: initial;
                bottom: 10%;
            }
        }
        &--eighth{
            display: flex;
            flex-direction: column;
            grid-gap: 20px;

            p{
                max-width: 210px;
                position: absolute;
                left: 9%;
                top: 8%;
                @include laptop{
                    left: 8%;
                }
                @include tablet{
                    max-width: 100%;
                    padding: 0 20px;
                    position: initial;
                }
                @include small-tablet{
                    padding: 0;
                }
            }
        }
        &--ninth{
            display: flex;
            flex-direction: column;
            grid-gap: 20px;

            p{
                max-width: 360px;
                position: absolute;
                left: 14%;
                top: 3.5%;
                @include laptop{
                    left: 10%;
                    top: 3%;
                }
                @include tablet{
                    max-width: 100%;
                    padding: 0 20px;
                    position: initial;
                }
                @include small-tablet{
                    padding: 0;
                }
            } 
        }
        &--tenth{
            display: grid;
            grid-template-columns: 2.6fr 1fr;
            grid-gap: 20px;
            align-items: center;
            p{
                padding-right: 20px;
            }
            @include tablet{
                grid-template-columns: 100%;
                p{
                    padding: 0 20px;
                }
            }
            @include small-tablet{
                p{  padding: 0;
            }
        }
        }
        &--mode{
            display: grid;
            grid-template-columns: 1.5fr 1fr;
            align-items: center;
            grid-gap: 20px 50px;
            padding: 0 20px;
            .slide-list__top,.slide-list__bottom{
                grid-column: span 2;
            }
            @include tablet{
                grid-template-columns: 100%;
                .slide-list__top,.slide-list__bottom{
                    grid-column: initial;
                }
            }
            @include small-tablet{
                padding: 0;
            }
        }
    }

    &__picture{
        img,picture{
            width: 100%;
            height: auto;
        }
    }
}